compile = ["cobc", "-x", "-free", "src/microservice.cbl"]
run = "./microservice"
hidden = ["main"]

[nix]
channel = "stable-21_11"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "./microservice"]

[[ports]]
localPort = 8000
externalPort = 80
